.rose {
  width: 13px;
  height: 300px;
  background-color: #019849;
  position: relative;
  left: 600px;
  bottom: -50px;
  margin-top: 130px;
  border-radius: 20%;
  box-shadow: 0 -350px 0 50px #d31717;
}

.rose::after {
  content: '';
  width: 10px;
  height: 5px;
  position: absolute;;
  background: #096809;
  border-radius: 4px;
  top: 0;
  right: 0;
  box-shadow:
    3px 10px 0 #096809,
    3px 40px 0 #096809,
    3px 150px 0 #096809,
    3px 200px 0 #096809,
    -2px -100px 0 29px #ff0000,
    -2px -100px 0 31px #d31717,
    -2px -100px 0 34px #ff0000,
    -2px -100px 0 38px #d31717,
    -2px -100px 0 41px #ff0000,
    -2px -100px 0 44px #d31717,
    -2px -100px 0 46px #ff0000,
    -2px -100px 0 48px #d31717,
    -2px -100px 0 51px #ff0000,
    0 -150px 0 80px #fff
}

.rose::before {
  content: '';
  width: 100px;
  height: 50px;
  position: absolute;
  border-top-right-radius: 90%;
  border-bottom-left-radius: 90%;
  background: #008000;
  top: 80px;
  right: 3px;
  box-shadow:
    95px 60px 0 #096809;
}
